@use '@integration-components/style';

.adyen-pe-payment-link-settings-terms-and-conditions {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &__alert {
        margin-bottom: style.token(spacer-040);
    }

    &-checkbox {
        display: flex;
        gap: style.token(spacer-060);

        &__container {
            display: flex;
            flex-direction: column;
            gap: style.token(spacer-040);
            margin-bottom: style.token(spacer-110);
            margin-top: style.token(spacer-080);
        }
    }

    &__requirements-link {
        background: none;
        border: 0;
        color: style.token(color-label-highlight);
        cursor: pointer;
        display: inline;
        font: inherit;
        padding: 0;
        text-decoration: underline;
    }
}
