@use '@integration-components/style' as style;

.adyen-pe-payment-link-creation-form-success {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-120);
    text-align: center;

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__icon {
        color: style.token(color-background-success-strong);
        margin: style.token(spacer-090) 0;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: style.token(spacer-040);
        align-self: flex-end;
    }

    &__title#{&}__title {
        margin-bottom: style.token(spacer-040);
    }

    &__description {
        color: style.token(color-label-secondary);
    }
}
