@use '@integration-components/style';

.adyen-pe-payment-link-expiration-success {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);
    justify-content: center;
    min-height: 218px;
    text-align: center;

    &__actions {
        display: flex;
        justify-content: center;
    }

    &__icon {
        color: style.token(color-background-success-strong);
        margin: style.token(spacer-040);

        svg {
            display: block;
        }
    }
}
