@use '@integration-components/style' as style;

.adyen-pe-payment-links-overview {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &--xs {
        gap: style.token(spacer-080);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tabs-container {
        display: flex;
    }

    &__actions-container {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-040);
    }

    &__settings-button.b-button {
        padding: style.token(spacer-050);
    }

    &__filters-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: style.token(spacer-040);
    }

    &__action-buttons-container {
        display: flex;
        gap: style.token(spacer-040);
        margin-left: auto;
        padding: style.token(spacer-060) style.token(spacer-000);
    }

    &__action-button--xs {
        --icon-size: 16px;

        font-size: var(--icon-size);
        padding: 0;
        width: calc(#{style.token(spacer-060)} * 3);
    }

    &__filters-alert-container {
        align-items: center;
        display: flex;
        max-width: 500px;
        width: 100%;
    }

    &__error-illustration,
    &__error-actions {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__error-actions {
        gap: style.token(spacer-040);
    }

    &__error-code {
        align-items: center;
        display: inline-flex;
        gap: style.token(spacer-020);
    }
}

.adyen-pe-payment-link-table {
    &__mobile-cell {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-050);
    }

    &__mobile-amount-cell {
        align-items: end;
    }

    &__mobile-expire-date-cell {
        color: style.token(color-label-secondary);
    }
}
