@use '@integration-components/style' as style;

.adyen-pe-payment-link-creation-form {
    &__validity-custom {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
        gap: style.token(spacer-040);
        align-items: end;
    }

    &__validity-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
    }
}
