@use '@integration-components/style';

.reasonSelector {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);
}

.description {
    color: style.token(color-label-secondary);
    font-size: style.token(text-caption-font-size);
}

.secondaryDescriptionItemsContainer {
    margin: 0;
    padding: 0 style.token(spacer-080);
}

.secondaryDescriptionItem::marker {
    color: style.token(color-label-secondary);
}

.documentRequirements {
    flex: 1;
}

.fileUploaderContainer {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);
}

.documentUpload {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
}

.deleteButtonContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.documentUploadBox {
    border: style.token(border-width-s) solid style.token(color-outline-primary);
    border-radius: style.token(border-radius-l);
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
    padding: style.token(spacer-080);
}

.requiredDocuments {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-110);
}
