@use '@integration-components/style';

.container {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);
    padding-top: style.token(spacer-020);
    width: 100%;
}

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);
    width: 100%;
}

.statusBox {
    display: flex;
    width: 100%;

    > * {
        min-width: 75%;
    }
}

.summary {
    display: grid;
    gap: style.token(spacer-020);
    width: 100%;
}

.summaryTags {
    display: flex;
    flex-wrap: wrap;
    gap: style.token(spacer-020);
}

.paymentMethod {
    align-items: center;
    display: flex;
    gap: style.token(spacer-030);
}

.paymentMethodLogoContainer {
    height: style.token(spacer-090);
    width: style.token(spacer-100);
}

.actionBar {
    display: flex;
    flex-wrap: wrap;
    gap: style.token(spacer-040);
    justify-content: flex-end;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
}

.list {
    width: 100%;
}

.listEvidence {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: style.token(spacer-030);
}

.listEvidenceErrorMessage {
    color: style.token(color-label-critical);
}

.issuerCommentsAlert {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);
}

.issuerCommentsGroup {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
    list-style: none;
    margin: 0;
    padding: 0;
}
