@use '@integration-components/style' as style;

.root {
    --details-padding: #{style.token(spacer-070)};
}

.root .dataGrid[class] {
    margin-inline: 0;
}

.titleContainer {
    display: flex;
    gap: style.token(spacer-050);
}

.pageTitle {
    margin-bottom: style.token(spacer-060);
}

.title {
    display: grid;
    gap: style.token(spacer-020);
}

.balanceAccountId {
    color: style.token(color-label-secondary);
}

.titleWithExtraDetails {
    padding-bottom: style.token(spacer-070);
}

.cardHeader {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.cardHeaderSummary {
    margin-left: style.token(spacer-100);
    padding: style.token(spacer-020) 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-030);
    margin: 0 calc(var(--details-padding) * -1);
    padding: style.token(spacer-070);
}

.cardTitle {
    color: style.token(color-label-secondary);
    padding: style.token(spacer-000);
}

.sectionAmount {
    display: flex;
    justify-content: space-between;
}

.card {
    margin-bottom: style.token(spacer-060);

    &:not(:first-child) {
        margin-top: style.token(spacer-060);
    }
}

.extraDetails {
    margin-bottom: style.token(spacer-090);
}

.extraDetailsLabel {
    color: style.token(color-label-secondary);
    font-size: style.token(text-body-font-size);
    font-weight: style.token(text-body-font-weight);
    line-height: style.token(text-body-line-height);
}

.extraDetailsIcon {
    img {
        width: style.token(spacer-070);
    }
}

.buttonActions {
    display: flex;
    justify-content: end;
    margin-top: style.token(spacer-080);
}
