@use '@integration-components/style' as style;

.paymentMethod {
    display: flex;
    align-items: center;
    gap: style.token(spacer-040);
}

.dateAndPaymentMethod {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-020);
}

.date {
    color: style.token(color-label-tertiary);
}
