@use '@integration-components/style' as style;
@use '@integration-components/style/breakpoints' as *;

.adyen-pe-capital-offer-summary {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &__highlighted-fields {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
    }

    &__terms {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
    }

    &__list-label {
        color: style.token(color-label-secondary);
    }

    &__buttons {
        display: flex;
        gap: style.token(spacer-050);
        margin-left: auto;

        @include adyen-pe-screen-sm-and-down {
            align-items: stretch;
            flex-direction: column-reverse;
            width: 100%;
        }

        .adyen-pe-button__label {
            width: auto;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
        margin-bottom: style.token(spacer-030);

        dd {
            text-align: right;
        }

        &--error {
            align-items: center;
            display: flex;
            gap: style.token(spacer-020);
            justify-content: end;

            .adyen-pe-icon {
                color: style.token(color-label-warning);
            }
        }
    }

    &__error-alert-button {
        margin-top: style.token(spacer-050);
    }
}
