@use '@integration-components/style' as style;

.adyen-pe-payment-link-creation-form {
    &__phone-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
        gap: style.token(spacer-040);
        align-items: end;
    }
}
