@use '@integration-components/style' as style;

.adyen-pe-payment-link-creation-form {
    &__shopper-name-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: style.token(spacer-060);
    }

    &__field-checkbox {
        display: flex;
        align-items: center;
        gap: style.token(spacer-020);
        cursor: pointer;
    }
}
