@use '@integration-components/style' as style;

.adyen-pe-payment-link-creation-form {
    &__component {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-060);
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__fields-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-060);
    }

    &__buttons-container {
        display: flex;
        justify-content: flex-end;
        gap: style.token(spacer-040);
        margin-top: style.token(spacer-070);
    }

    &__error-alert,
    &__warning-alert {
        margin-top: style.token(spacer-040);
    }

    &__invalid-fields-error {
        margin: 0;
        padding-inline-start: style.token(spacer-060);
    }

    &__skeleton {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
    }

    &__skeleton-item {
        height: style.token(spacer-090);
        border-radius: style.token(border-radius-m);
        background: style.token(color-background-secondary);

        &--small {
            width: 40%;
        }

        &--large {
            width: 100%;
        }
    }
}
