@use '@integration-components/style' as style;

.tags {
    display: flex;
    gap: style.token(spacer-020);
}

.paymentMethod {
    align-items: center;
    display: flex;
    gap: style.token(spacer-030);
}

.paymentMethodLogoContainer {
    height: style.token(spacer-090);
    width: style.token(spacer-100);
}
