@use '@integration-components/style' as style;

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabs {
    margin-bottom: style.token(spacer-080);
}

.statusBox {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-030);
}

.actionBar {
    align-self: flex-end;
    flex-direction: row;
}

.list {
    img {
        height: style.token(spacer-090);
        max-width: style.token(spacer-100);
        object-fit: contain;
        object-position: center;
    }
}

.paymentMethod {
    display: flex;
    gap: style.token(spacer-080);
}

.refundStatusesContainer {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
}
