@use '@integration-components/style' as style;
@use '@integration-components/style/breakpoints' as *;

.adyen-pe-capital-highlighted-fields {
    align-items: center;
    background: style.token(color-background-selected);
    border-radius: style.token(border-radius-m);
    display: flex;
    gap: style.token(spacer-100);
    justify-content: space-between;
    padding: style.token(spacer-070);

    @include adyen-pe-screen-sm-and-down {
        align-items: flex-start;
        flex-direction: column;
        gap: style.token(spacer-060);
    }

    &__item {
        display: flex;
        flex-direction: column;

        @include adyen-pe-screen-sm-and-down {
            align-items: flex-start;
        }
    }

    &__label {
        color: style.token(color-label-secondary);
        text-align: center;
        width: max-content;
    }
}
